header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 70px;
}
h2 {
  font-family: "Roboto-Bold";
  color: #37447e;
  font-size: 24px;
}
.headerTextButtons {
  font-size: 14;
  font-family: "Roboto-Medium";
  font-weight: 500;
  color: #37447e;
  margin-right: 60px;
}
.headerMainButtons {
  width: 104px;
  height: 26px;
  border-radius: 2px;
  font-size: 12px;
  text-align: center;
  font-family: "Roboto-Medium";
}
#LearnMoreButton {
  background: #111b47;
  color: #fff;
  margin-right: 26px;
}
#LearnMoreButton:active {
  background: #fff;
  color: #111b47;
  border-width: 1px;
  border-color: #111b47;
}
#BuyNowButton {
  background: #ffd166;
  color: #111b47;
}
#BuyNowButton:active {
  background: #fff;
  color: #f5b00e;
  border-width: 1px;
  border-color: #f5b00e;
}
.headerUl {
  display: flex;
}
.headerOl {
  padding: 0;
  margin: 0;
}
/* Initially hide the burgerMenu */

@media screen and (max-width: 980px) {
  #aboutButton,
  #homeButton,
  #pricingButton {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .headerUl {
    display: none;
  }
}
