.paragraph {
  padding-inline: 165px;
  display: flex;
  margin-top: 100px;
}
.firstParagraphImage {
  width: 1090px;
  height: 838px;
}
#firstParagraph {
  overflow: hidden;
  height: 570px;
  margin-top: 120px;
}
.secondParagraphImage {
  width: 540px;
  height: 524.313px;
  margin-top: -20px;
}
#secondParagraph {
  overflow: hidden;
  height: 570px;
  margin-top: 160px;
}
.leftSide {
  margin-right: 90px;
}
.primaryText {
  color: #091133;
  font-family: "Roboto-Medium";
  font-weight: 600;
  font-size: 32px;
  width: 550px;
  line-height: 48px;
}
.secondaryText {
  color: #6f7cb2;
  font-family: "Roboto-Medium";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.titlesDiv {
  margin-top: 45px;
  display: flex;
  flex-direction: row;
}
.title {
  height: 138px;
  flex: 1;
}
.titleImage {
  width: 36px;
}
.primaryTitleText {
  color: #091133;
  font-family: "Roboto-Medium";
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}
.secondaryTitleText {
  color: #5d6970;
  font-family: "Roboto-Medium";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
#priceParagraph {
  flex-direction: column;
}
.kitPriceContainer {
  display: flex;
  justify-content: space-between;
}
.kitPrice {
  color: #37447e;
  font-family: "Roboto-Medium";
  font-size: 36px;
  font-weight: 600;
}
.kitPrimaryText {
  color: #091133;
  font-family: "Roboto-Medium";
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
}
.kitSecondaryText {
  color: #5d6970;
  font-family: "Roboto-Medium";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.kitBuyButton {
  width: 189px;
  height: 26px;
  border-radius: 2px;
  background: #111b47;
  color: #fff;
  text-align: center;
  font-family: "Roboto-Medium";
  font-size: 12px;
  font-weight: 500;
  margin-top: 32px;
  animation: translateY 3s infinite;
}
#packageKitButton {
  animation: scale 3s linear infinite;
}
#designKitButton {
  animation: rotate5deg 3s linear infinite;
}
.kitBuyButton:active {
  border: solid 2px #111b47;
  background: #fff;
  color: #111b47;
}

@media screen and (min-width: 2000px) {
  .secondaryText {
    width: 800px;
  }
  .paragraph {
    padding-inline: 300px;
    justify-content: space-between;
  }

  .kitPriceBlock {
    width: 500px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .kitSecondaryText {
    text-align: center;
  }
  .titlesDiv {
    width: 600px;
  }
}

@media screen and (max-width: 1300px) {
  .firstParagraphImage,
  .secondParagraphImage {
    display: none;
  }
  .primaryText {
    width: 100%;
  }
}

@media screen and (max-width: 980px) {
  .paragraph {
    padding: 100px;
  }
  .leftSide {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .paragraph {
    padding: 10px;
    display: flex;
    align-items: center;
  }
  #priceParagraph {
    padding-inline: 10px;
  }
  .kitPriceContainer {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  .kitPriceBlock {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
  }
  .kitSecondaryText {
    width: 100%;
  }
}
